about-time==4.2.1
absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.4
aioprocessing==2.0.1
aiosignal==1.3.1
aiosqlite==0.20.0
albumentations==1.3.0
alive-progress==3.1.5
antlr4-python3-runtime==4.8
anyio==3.7.1
appdirs==1.4.4
APScheduler==3.9.1
arcade==2.6.17
argos-translate-files==1.1.4
argostranslate==1.9.1
arrow==1.3.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
Babel==2.13.1
bcrypt==4.0.1
beautifulsoup4==4.9.3
bleach==5.0.1
blinker==1.6.2
blis==0.7.10
breadability==0.1.20
browser-cookie3==0.19.1
bs4==0.0.2
cachelib==0.10.2
cairocffi==1.6.1
CairoSVG==2.7.1
catalogue==2.0.9
certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.1
chatterbot-corpus==1.2.0
chordparser==0.4.2
click==8.1.7
cliessentials @ file:///Users/theoharfordtapp/Desktop/Coding/py/modules/cliessentialslibrary/dist/cliessentials-0.1.2-py3-none-any.whl
cloup==3.0.5
colorama==0.4.6
commonmark==0.9.1
confection==0.1.0
construct==2.8.8
contourpy==1.0.6
cryptography==41.0.4
cssselect2==0.7.0
ctranslate2==3.20.0
customtkinter==5.2.2
cycler==0.11.0
cymem==2.0.7
darkdetect==0.8.0
dataclass-factory==2.16
defusedxml==0.7.1
Deprecated==1.2.14
diffuser==0.0.1
diffusers==0.30.3
dill==0.3.8
diskcache==5.6.3
docopt==0.6.2
docutils==0.19
dunamai==1.21.1
einops==0.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
et-xmlfile==1.1.0
expiringdict==1.2.2
exrex==0.11.0
faust-cchardet==2.1.19
filelock==3.13.1
Flask==3.0.0
flask-babel==3.1.0
Flask-Bcrypt==1.0.1
Flask-Limiter==2.6.3
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.3
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
flatbuffers==24.3.25
fonttools==4.38.0
frozenlist==1.4.0
fsspec==2024.6.0
ftfy==6.2.3
future==1.0.0
gast==0.6.0
google==3.0.0
google-pasta==0.2.0
grapheme==0.6.0
grpcio==1.66.1
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.3
humanfriendly==10.0
hyperframe==6.0.1
identity==0.2.0
idna==3.7
imageio==2.35.1
imessage-reader==0.5.0
imgur-uploader==0.3.0
imgurpython==1.1.7
importlib-metadata==5.0.0
importlib-resources==6.1.1
iniconfig==2.0.0
inquirerpy==0.3.4
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
joblib==1.3.2
keras==3.5.0
keyboard==0.13.5
keyring==23.11.0
Kivy==2.2.1
Kivy-Garden==0.1.5
kiwisolver==1.4.4
kornia==0.6.0
langcodes==3.3.0
langdetect==1.0.9
lazy_loader==0.4
LexiLang==1.0.1
libclang==18.1.1
libretranslate==1.5.2
limits==3.7.0
linkify-it-py==2.0.3
llvmlite==0.43.0
lxml==5.2.2
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.6.2
mdit-py-plugins==0.4.1
mdurl==0.1.2
mediapipe==0.10.1
mediapipe-silicon==0.9.2.1
ml-dtypes==0.4.0
more-itertools==10.2.0
Morfessor==2.0.6
MouseInfo==0.1.3
mpegdash==0.4.0
mpmath==1.3.0
msal==1.24.0
multidict==6.0.4
multiprocess==0.70.16
murmurhash==1.0.9
namex==0.0.8
networkx==3.2.1
nltk==3.8.1
nodeeditor==0.9.13
nodezator==1.3.13
notify2==0.3.1
numba==0.60.0
numpy==1.26.4
numpy-stl==3.1.2
ofscraper==3.9.8
omegaconf==2.1.1
open-clip-torch==2.0.2
opencv-contrib-python==4.9.0.80
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
outcome==1.2.0
packaging==23.1
Panda3D==1.10.13.post1
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==2.2.0
pathvalidate==3.2.0
pathy==0.10.2
perlin-noise==1.12
pfzy==0.3.4
pi==0.1.2
pillow==10.4.0
pitch==0.0.6
pkginfo==1.8.3
playsound==1.3.0
pluggy==1.2.0
poetry-dynamic-versioning==1.3.0
polib==1.1.1
praw==7.7.1
prawcore==2.4.0
preshed==3.0.8
progressbar==2.2
prometheus-client==0.15.0
prompt-toolkit==3.0.43
protobuf==5.28.2
psutil==5.9.8
PyAudio==0.2.13
PyAutoGUI==0.9.54
pycountry==24.6.1
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==1.10.12
pyDeprecate==0.3.1
pydub==0.25.1
pygame==2.1.3.dev8
PyGetWindow==0.0.9
pyglet==2.0.dev23
Pygments==2.13.0
pyimgur==0.6.0
PyJWT==2.8.0
pymp4==1.4.0
PyMsgBox==1.0.9
pymunk==6.4.0
pynput==1.7.6
pynumparser==1.4.1
pyobjc==9.0
pyobjc-core==9.0
pyobjc-framework-Accessibility==9.0
pyobjc-framework-Accounts==9.0
pyobjc-framework-AddressBook==9.0
pyobjc-framework-AdServices==9.0
pyobjc-framework-AdSupport==9.0
pyobjc-framework-AppleScriptKit==9.0
pyobjc-framework-AppleScriptObjC==9.0
pyobjc-framework-ApplicationServices==9.0
pyobjc-framework-AppTrackingTransparency==9.0
pyobjc-framework-AudioVideoBridging==9.0
pyobjc-framework-AuthenticationServices==9.0
pyobjc-framework-AutomaticAssessmentConfiguration==9.0
pyobjc-framework-Automator==9.0
pyobjc-framework-AVFoundation==9.0
pyobjc-framework-AVKit==9.0
pyobjc-framework-AVRouting==9.0
pyobjc-framework-BackgroundAssets==9.0
pyobjc-framework-BusinessChat==9.0
pyobjc-framework-CalendarStore==9.0
pyobjc-framework-CallKit==9.0
pyobjc-framework-CFNetwork==9.0
pyobjc-framework-ClassKit==9.0
pyobjc-framework-CloudKit==9.0
pyobjc-framework-Cocoa==9.0
pyobjc-framework-Collaboration==9.0
pyobjc-framework-ColorSync==9.0
pyobjc-framework-Contacts==9.0
pyobjc-framework-ContactsUI==9.0
pyobjc-framework-CoreAudio==9.0
pyobjc-framework-CoreAudioKit==9.0
pyobjc-framework-CoreBluetooth==9.0
pyobjc-framework-CoreData==9.0
pyobjc-framework-CoreHaptics==9.0
pyobjc-framework-CoreLocation==9.0
pyobjc-framework-CoreMedia==9.0
pyobjc-framework-CoreMediaIO==9.0
pyobjc-framework-CoreMIDI==9.0
pyobjc-framework-CoreML==9.0
pyobjc-framework-CoreMotion==9.0
pyobjc-framework-CoreServices==9.0
pyobjc-framework-CoreSpotlight==9.0
pyobjc-framework-CoreText==9.0
pyobjc-framework-CoreWLAN==9.0
pyobjc-framework-CryptoTokenKit==9.0
pyobjc-framework-DataDetection==9.0
pyobjc-framework-DeviceCheck==9.0
pyobjc-framework-DictionaryServices==9.0
pyobjc-framework-DiscRecording==9.0
pyobjc-framework-DiscRecordingUI==9.0
pyobjc-framework-DiskArbitration==9.0
pyobjc-framework-DVDPlayback==9.0
pyobjc-framework-EventKit==9.0
pyobjc-framework-ExceptionHandling==9.0
pyobjc-framework-ExecutionPolicy==9.0
pyobjc-framework-ExtensionKit==9.0
pyobjc-framework-ExternalAccessory==9.0
pyobjc-framework-FileProvider==9.0
pyobjc-framework-FileProviderUI==9.0
pyobjc-framework-FinderSync==9.0
pyobjc-framework-FSEvents==9.0
pyobjc-framework-GameCenter==9.0
pyobjc-framework-GameController==9.0
pyobjc-framework-GameKit==9.0
pyobjc-framework-GameplayKit==9.0
pyobjc-framework-HealthKit==9.0
pyobjc-framework-ImageCaptureCore==9.0
pyobjc-framework-IMServicePlugIn==9.0
pyobjc-framework-InputMethodKit==9.0
pyobjc-framework-InstallerPlugins==9.0
pyobjc-framework-InstantMessage==9.0
pyobjc-framework-Intents==9.0
pyobjc-framework-IntentsUI==9.0
pyobjc-framework-IOSurface==9.0
pyobjc-framework-iTunesLibrary==9.0
pyobjc-framework-KernelManagement==9.0
pyobjc-framework-LatentSemanticMapping==9.0
pyobjc-framework-LaunchServices==9.0
pyobjc-framework-libdispatch==9.0
pyobjc-framework-LinkPresentation==9.0
pyobjc-framework-LocalAuthentication==9.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0
pyobjc-framework-MailKit==9.0
pyobjc-framework-MapKit==9.0
pyobjc-framework-MediaAccessibility==9.0
pyobjc-framework-MediaLibrary==9.0
pyobjc-framework-MediaPlayer==9.0
pyobjc-framework-MediaToolbox==9.0
pyobjc-framework-Metal==9.0
pyobjc-framework-MetalFX==9.0
pyobjc-framework-MetalKit==9.0
pyobjc-framework-MetalPerformanceShaders==9.0
pyobjc-framework-MetalPerformanceShadersGraph==9.0
pyobjc-framework-MetricKit==9.0
pyobjc-framework-MLCompute==9.0
pyobjc-framework-ModelIO==9.0
pyobjc-framework-MultipeerConnectivity==9.0
pyobjc-framework-NaturalLanguage==9.0
pyobjc-framework-NetFS==9.0
pyobjc-framework-Network==9.0
pyobjc-framework-NetworkExtension==9.0
pyobjc-framework-NotificationCenter==9.0
pyobjc-framework-OpenDirectory==9.0
pyobjc-framework-OSAKit==9.0
pyobjc-framework-OSLog==9.0
pyobjc-framework-PassKit==9.0
pyobjc-framework-PencilKit==9.0
pyobjc-framework-Photos==9.0
pyobjc-framework-PhotosUI==9.0
pyobjc-framework-PreferencePanes==9.0
pyobjc-framework-PushKit==9.0
pyobjc-framework-Quartz==9.0
pyobjc-framework-QuickLookThumbnailing==9.0
pyobjc-framework-ReplayKit==9.0
pyobjc-framework-SafariServices==9.0
pyobjc-framework-SafetyKit==9.0
pyobjc-framework-SceneKit==9.0
pyobjc-framework-ScreenCaptureKit==9.0
pyobjc-framework-ScreenSaver==9.0
pyobjc-framework-ScreenTime==9.0
pyobjc-framework-ScriptingBridge==9.0
pyobjc-framework-SearchKit==9.0
pyobjc-framework-Security==9.0
pyobjc-framework-SecurityFoundation==9.0
pyobjc-framework-SecurityInterface==9.0
pyobjc-framework-ServiceManagement==9.0
pyobjc-framework-SharedWithYou==9.0
pyobjc-framework-SharedWithYouCore==9.0
pyobjc-framework-ShazamKit==9.0
pyobjc-framework-Social==9.0
pyobjc-framework-SoundAnalysis==9.0
pyobjc-framework-Speech==9.0
pyobjc-framework-SpriteKit==9.0
pyobjc-framework-StoreKit==9.0
pyobjc-framework-SyncServices==9.0
pyobjc-framework-SystemConfiguration==9.0
pyobjc-framework-SystemExtensions==9.0
pyobjc-framework-ThreadNetwork==9.0
pyobjc-framework-UniformTypeIdentifiers==9.0
pyobjc-framework-UserNotifications==9.0
pyobjc-framework-UserNotificationsUI==9.0
pyobjc-framework-VideoSubscriberAccount==9.0
pyobjc-framework-VideoToolbox==9.0
pyobjc-framework-Virtualization==9.0
pyobjc-framework-Vision==9.0
pyobjc-framework-WebKit==9.0
pyOutlook==4.2.2
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PyQt6==6.4.2
PyQt6-Qt6==6.4.3
PyQt6-sip==13.4.1
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
pyspellchecker==0.8.1
pytesseract==0.3.10
pytest==7.4.0
pytest-asyncio==0.20.3
python-dateutil==2.8.2
python-dotenv==0.21.1
python-utils==3.8.2
python-vlc==3.0.20123
pytiled-parser==2.2.0
pytorch-lightning==1.4.2
pytube==15.0.0
pytweening==1.0.4
pytz==2023.3.post1
pywidevine==1.8.0
PyYAML==6.0.1
QtPy==2.3.1
qudida==0.0.4
readme-renderer==37.3
redis==4.3.4
regex==2023.10.3
requests==2.32.2
requests-futures==1.0.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.7.1
rubicon-objc==0.4.2
sacremoses==0.0.53
safetensors==0.4.3
scapy==2.5.0
schedule==1.2.2
scikit-image==0.24.0
scikit-learn==1.2.2
scipy==1.10.0
selenium==4.8.0
sentencepiece==0.1.99
setproctitle==1.3.3
shazamio==0.4.0.1
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.5
soundfile==0.11.0
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
speedtest-cli==2.1.3
SQLAlchemy==2.0.15
srsly==2.4.7
stable-diffusion-sdkit==2.1.5
stanza==1.1.1
stem==1.8.2
summarizer==0.0.7
sumy==0.11.0
sympy==1.12
tenacity==8.3.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
test_tube==0.7.5
textblob==0.18.0.post0
textual==0.52.1
thinc==8.1.10
threadpoolctl==3.4.0
tifffile==2024.9.20
tinycss2==1.2.1
tokenizers==0.13.3
tomlkit==0.12.5
torch==2.4.1
torchmetrics==0.6.0
torchvision==0.19.1
torrequest==0.1.0
tqdm==4.65.0
transformers==4.33.2
translatehtml==1.5.2
trimesh==4.4.7
trio==0.22.0
trio-websocket==0.9.2
twine==4.0.1
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
Unidecode==1.3.8
update-checker==0.18.0
urllib3==1.26.12
ursina==5.2.0
waitress==2.1.2
wasabi==1.1.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.2
wget==3.2
win32-setctime==1.1.0
wordcounter==0.0.2.2
wrapt==1.16.0
wsproto==1.2.0
xerox==0.4.1
xxhash==3.4.1
yarl==1.9.2
youtube-data-api==0.0.21
zipp==3.10.0
